{% load static %}

{% block contenido %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/modales.css' %}">
<div class="content">
    <form method="POST">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Usuarios</span>
                <p><p>
                <select name="id_usuarios" style="height: 26px;">
                    <option value="">Seleccionar</option>
                    {% for u in usuarios %}
                    <option value="{{u.0}}">{{u.4}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Habitaciones</span>
                <p><p>
                <select name="id_habitaciones" style="height: 26px;">
                    <option value="">Seleccionar</option>
                    {% for h in habitaciones %}
                    {% if h.5 == "Disponible" %}
                    <option value="{{h.0}}">Habitacion N°{{h.0}} con {{h.1}} - {{h.5}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                    <span class="details">Empresa asociada</span>
                    <p><p>
                    <select name="id_empresas" style="height: 26px;">
                            <option value="">Seleccionar</option>
                            {% for e in empresas %}
                            <option value="{{e.0}}">{{e.1}}</option>
                            {% endfor %}
                    </select>
            </div>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Guardar">
        </div>
    </form>
    {% if mensaje == 'registrado correctamente' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
</div>
{% endblock %}