{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<html>
    
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    
	<link rel="stylesheet" href="{% static 'core/css/login.css'%}">


</head>
<body>
	<div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        
                        <h2>Ingresa tus datos</h2>
                        <hr>
                        <form action="" method="POST">

                            {% csrf_token %}
                            {{form | crispy}}
                            <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>

                            <input class="btn btn-success float-right" type="submit" value="Ingresar">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
	
	<div class="footer-text">
		<p>&copy; Los Pixies 2021</p>
	</div>
</body>

</html>


{% endblock %}