{% load static %}

{% block contenido %}

{% load crispy_forms_tags %}
<html>
    
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'core/css/registro.css' %}">

</head>
<body> 
	<div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        
                        <h2>Registro de datos</h2>
                        <h5>Recuerde que los envios son solo dentro de la comuna</h3>
                        <hr>
                        <form action="" method="post">

                            {% csrf_token %}
                            {{form | crispy}}
                            <a class="btn btn-primary" href="{% url 'home' %}">Inicio</a>   |
                            <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Session</a>
                            <input class="btn btn-success float-right" type="submit" value="Registrar">

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
	<div class="footer-text">
		<p>&copy; Los Pixies 2021</p>
	</div>
	<script>
		
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Usuario..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Password...';
		form_fields[4].placeholder='Password...';
		


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>

{% endblock %}