<div class="content">
    {% for h in huespedes %}
    {% if h.0 == numerito %}
    <form method="POST" > 
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <input type="hidden" name="precio_total" value={{h.6}} required>
            </div>
            <div class="input-box">
                <input type="hidden" name="nom_empresa" value={{h.11}} required>
            </div>
            <div class="input-box">
                <input type="hidden" name="nom_cliente" value={{h.18}} required>
            </div>
            <div class="input-box">
                <input type="hidden" name="habitacion" value={{h.3}} required>
            </div>
            <div class="input-box">
                <input type="hidden" name="cliente" value={{h.18}} required>
            </div>
            <div class="input-box">
                <input type="hidden" name="creador" value={{h.18}} required>
            </div>
            <div>
                <button class="button">Crear factura?</button>
            </div>
        </div>
    </form>
    {% if mensaje == 'registrado correctamente' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
    {% endif %}
    {% endfor %}
</div>