{% for p in facturas %}
{% if p.0 == numerito %}
<br>
{{p.8}}
<br><br>
Nombre del Cliente: {{p.5}}
<br><br>
Rut cliente: {{p.7}}
<br><br>
Nombre empresa: {{p.4}}
<br><br>
Creador de la factura:  {{p.9}}  
<br><br>
N° de habitacion:  {{p.6}}
<br><br>
precioHabitacion:  {{p.1}}  
<br><br>
Iva 19% : {{p.2}}
<br><br>
Total : {{p.3}}
{% endif %}
{% endfor %}