{% load static %}

{% block contenido %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/modales.css' %}">
<div class="content">
    <form method="POST" > 
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nombre del plato</span>
          <input type="text" name="nom_plato" placeholder="Ingresa el nombre para el plato" required>
        </div>
        <div class="input-box">
          <span class="details">Precio y cuanto vale</span>
          <input type="text" name="precio_plato" placeholder="Precio y cuanto vale" required>
        </div>
        <div class="input-box">
          <span class="details">Tipo de plato</span>
          <input type="text" name="tipo_plato" placeholder="Tipo de plato" required>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Guardar">
      
    </form>
    {% if mensaje == 'registrado correctamente' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
  </div>
  {% endblock %}