{% load static %}

{% block contenido %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/modales.css' %}">
<form method="POST" > 
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">Tipo cama</span>
          <input type="text" name="tipo_cama" placeholder="Ingresa el tipo de cama" required>
        </div>
        <div class="input-box">
          <span class="details">Tamaño</span>
          <input type="text" name="tamano" placeholder="Ingrese el tamano de la habitacion" required>
        </div>
        <div class="input-box">
          <span class="details">Cantidad de camas</span>
          <input type="text" name="cant_cama" placeholder="Ingresa la cantidad de camas dentro de la habitacion" required>
        </div>
        <div class="input-box">
          <span class="details">Precio</span>
          <input type="text" name="precio" placeholder="Ingresa precio" required>
        </div>
        <div class="input-box">
          <span class="details">Disponibilidad</span>
          <p><p>
            <select name="dispo" style="height: 26px;">
              <option value="">Seleccionar</option>
              <option value="Disponible">Disponible</option>
              <option value="No disponible por mantenimiento">No disponible por mantenimiento</option>
              <option value="No disponible por asignamiento a empresa">No disponible por asignamiento a empresa</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <input class="btn btn-primary" type="submit" value="Guardar">
      </div>
    </form>
    {% if mensaje == 'registrado correctamente' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
  </div>

  {% endblock %}
    