<div class="content">
    <form method="POST" > 
      {% csrf_token %}
      <label>Esta seguro de que quiere eliminar la habitacion?</label>
      <div>
        <button class="button">Eliminar habitacion</button>
      </div>
    </form>
    {% if mensaje == 'Eliminado con exito' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
</div>