<h2>Habitaciones disponibles</h2>
<table border="0.1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo Cama</th>
            <th>Precio Habitacion</th>
            <th>Tamaño</th>
            <th>Cant. Camas</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        {% for p in habitaciones %}
        {% if p.5 == 'Disponible' %}
        <tr>
            <th>{{p.0}}</th>
            <th>{{p.1}}</th>
            <th>{{p.2}}</th>
            <th>{{p.3}}</th>
            <th>{{p.4}}</th>
            <th>{{p.5}}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<h2>Habitaciones no disponible por mantenimiento</h2>
<table border="0.1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo Cama</th>
            <th>Precio Habitacion</th>
            <th>Tamaño</th>
            <th>Cant. Camas</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        {% for p in habitaciones %}
        {% if p.5 == 'No disponible por mantenimiento' %}
        <tr>
            <th>{{p.0}}</th>
            <th>{{p.1}}</th>
            <th>{{p.2}}</th>
            <th>{{p.3}}</th>
            <th>{{p.4}}</th>
            <th>{{p.5}}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<h2>Habitaciones no disponible por asignamiento a empresa</h2>
<table border="0.1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo Cama</th>
            <th>Precio Habitacion</th>
            <th>Tamaño</th>
            <th>Cant. Camas</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        {% for p in habitaciones %}
        {% if p.5 == 'No disponible por asignamiento a empresa' %}
        <tr>
            <th>{{p.0}}</th>
            <th>{{p.1}}</th>
            <th>{{p.2}}</th>
            <th>{{p.3}}</th>
            <th>{{p.4}}</th>
            <th>{{p.5}}</th>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>