{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <!-- Navigation-->

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <p class="masthead-subheading mb-0">
                        <h1 style="margin-bottom:9px;">HABITACIONES</h1>
                        <h2 style="margin-bottom:25px;">La mayor comodidad que podras encontrar!</h2>
                        <h4>En esta sección encontrarás todo lo referente a nuestras categorias de habitaciones y sus caracteristicas.
                        </h4>
                    </p>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">¿Quieres conocer nuestras Habitaciones?</a>
                </div>
            </div>
    
        </header>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
</header>
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/1.jpg' %}" style="width: 350px;"/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <p>    
                        <h1>Basico</h1>
                        <h2>Este tipo de habitación tiene lo primordial para poder pasar tu estadia tranquilo (Habitacion basica, equipada con lo primordial para tu estadia).
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/2.jpg' %}" style="width: 350px;"/></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h1>Estandar</h1>
                    <p>
                        <h2>Este tipo de Habitación está equipada con equipamiento para hacer mucho mas amena tu estadia por nuestras instalaciones(Habitacion estandar, equipada con algunas mejoras, para disfrutar aun mas tu estadia).
                        </h2>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="{% static 'core/img/3.jpg' %}" style="width: 350px;"/></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h1>Premium</h1>
                    <p>
                        <h2>
                            Esta Habitacion Cuenta con todo lo necesario para hacer tu visita inolvidable, es la mejor de las habitaciones(Habitacion equipada con lo mejor de lo mejor, posee todo para que nunca olvides tu estadia).
                        </h2>
        
                    </p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}