{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

        <!-- Imagen Header -->
        <div class="img-header">
         <div class="welcome">
           <h1>Bienvenidos al Hostal Doña Clarita</h1>
           <hr>
           <p>Empresa familiar</p>
           <button id="abajo">Ver abajo</button>
         </div>       
        </div>
        
        <div class="skew-abajo"></div>
    
        </header>
    
        <main>

   

          <!-- Habitaciones -->
          <section class="our-projects">
             <div class="skew-arriba"></div>
          <div class="deg-background"></div>
          
          <div class="ejeZproject">
             <div class="container-project">
               <div class="project-title">
                 <h2>Tipos de habitaciones</h2>
                 <hr>
               </div>
                 <div class="project-img">
                   <img src="{% static 'core/img/habitacion1.jpg' %}" alt="">
                   <img src="{% static 'core/img/habitacion2.jpg' %}" alt="">
                   <img src="{% static 'core/img/habitacion3.jpg' %}" alt="">
                   <img src="{% static 'core/img/habitacion4.jpg' %}" alt="">
                   <img src="{% static 'core/img/habitacion5.jpg' %}" alt="">
                   <img src="{% static 'core/img/habitacion6' %}" alt="">
                   
            
                </div>
          <div class="skew-abajo"></div>
          </section>
       
          
       
        </main> 
       
        <!-- Footer -->
        <footer class="footer">
          <div class="skew-arriba"></div>
         <div class="deg-footer"></div>
        
         <div class="ejeZfooter">
         <div class="footer-content">
          <div class="footer-title">
            <h2>Formulario de Contacto</h2>
            <hr>
          </div>
       
          <div class="formulario-content">
            <form id="formulario">
               <label for="user">Nombre:</label>
               <input type="text" id="user" name="user" placeholder="Ingresa tu Nombre">
          
               <label for="email">Correo Electronico:</label>
               <input type="email" id="email" name="email" placeholder="Ingresa tu Correo Electronico">
          
               <label for="message">Escribe tu mensaje</label>
               <textarea name="menssage" id="message"></textarea>
          
               <div class="send"><button>Enviar</button></div>
          
               <div class="mensaje-form">
                 <p>Escribenos un mensaje, con gusto tendras una respuesta de parte de nosotros en muy poco tiempo.</p>
               </div>
            </form>
          </div>
       
          <div class="footer-text">
            <p>&copy; Los Pixies 2021 | Todos los derechos reservados.</p>
          </div>
         
         </div>
       </div>
        </footer>
       
       <!-- Scripts -->
       <script src="https://kit.fontawesome.com/35db202371.js"></script>
       <script src="js/app.js"></script>
       
       </body>
       </html>
        

{% endblock %}