{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>

<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href= "{% static 'core/css/formularios.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>
<body>
    <div class="container">
        <table id="datatable" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Precio total</th>
                    <th>Nombre de la empresa</th>
                    <th>Nombre del cliente</th>
                    <th>N° de habitacion</th>
                    <th>Rut del cliente</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for p in facturas %}
                <tr>
                    <th>{{p.0}}</th>
                    <th>{{p.3}}</th>
                    <th>{{p.4}}</th>
                    <th>{{p.5}}</th>
                    <th>{{p.6}}</th>
                    <th>{{p.7}}</th>
                    <th><a style="float: right;" type="button" class="btn btn-primary" href="{% url 'factura' p.0 %}">Listar Factura</a></th>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script type="text/javascript">
$(document).ready( function () {
    $('#datatable').DataTable();
    } );
</script>
</html>
{% endblock %}