{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Administarcion</title>

    <link rel="stylesheet" href= "{% static 'core/css/card.css' %}">
</head>
<body>
    <div class="container">
        <main class="grid">
            <article>
                <img src="{% static 'core/img/modulos/1.png' %}" height="200px" alt="">
                <div class="text">
                    <br>
                    <h4>Registro De Habitaciones</h4>
                    <p></p>
                    <form action="{% url 'registrohabitaciones' %}">
                        <button type="submit">Ingresar</button>
                    </form>
                </div>
            </article>
            <article>
                <img src="{% static 'core/img/modulos/4.png' %}" height="200px" alt="">
                <div class="text">
                    <br>
                    <h4>Registro de Comedor</h4>
                    <p></p>
                    <form action="{% url 'registrocomedor' %}">
                        <button type="submit">Ingresar</button>
                    </form>
                    
                </div>
            </article>
            <article>
                <img src="{% static 'core/img/modulos/8.png' %}" height="200px" alt="">
                <div class="text">
                    <br>
                    <h4>Registro de Huesped</h4>
                    <p></p>
                    <form action="{% url 'registrohuesped' %}">
                        <button type="submit">Ingresar</button>
                    </form>
                    
                </div>
            </article>
            <article>
                <img src="{% static 'core/img/modulos/6.png' %}" height="200px" alt="">
                <div class="text">
                    <br>
                    <h4>Visualizar Facturas</h4>
                    <p></p>
                    <form action="{% url 'listarfacturas' %}">
                        <button type="submit">Ingresar</button>
                    </form>
                    
                </div>
            </article>
            <article>
                <img src="{% static 'core/img/modulos/7.png' %}" height="200px" alt="">
                <div class="text">
                    <br>
                    <h4>Crear Producto</h4>
                    <p></p>
                    <form action="{% url 'registroproductos' %}">
                        <button type="submit">Ingresar</button>
                    </form>
                </div>
            </article>
        </main>
    </div>
</body>
</html>

{% endblock %}