{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href= "{% static 'core/css/formularios.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <div class="container">
    <div class="title">Orden compra</div>
    <div class="content">
      <form method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Usuarios</span>
            <p><p>
            <select name="id_usuarios" style="height: 26px;">
              <option value="">Seleccionar</option>
                {% for u in usuarios %}
                  <option value="{{u.0}}">{{u.4}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="input-box">
          <span class="details">Habitaciones</span>
            <p><p>
            <select name="id_habitaciones" style="height: 26px;">
              <option value="">Seleccionar</option>
                {% for h in habitaciones %}
                  {% if h.5 == "Disponible" %}
                    <option value="{{h.0}}">Habitacion con {{h.1}} - {{h.5}}</option>
                  {% endif %}
                {% endfor %}
            </select>
          </div>
          <div class="input-box">
            <span class="details">Empresa asociada</span>
              <p><p>
              <select name="id_empresas" style="height: 26px;">
                <option value="">Seleccionar</option>
                  {% for e in empresas %}
                    <option value="{{e.0}}">{{e.1}}</option>
                  {% endfor %}
              </select>
          </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
      {% if {{mensaje}} == %}
      {{mensaje}}
    </div>
  </div>

</body>
</html>


{% endblock %}