{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="{% static 'core/css/ordenpedidos.css' %}" rel="stylesheet">

    <title>.</title>
  </head>
  <body>
   <section class="contact-box">
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                
                <h3 class="font-weight-bold text-light"></h3>
                <p class="lead text-light"></p>
            </div>
            <div class="p-5"><img  src="{% static 'core/img/5.png' %}" style="width: 1700px; "/></div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex">
               
                <div class="container align-self-center p-6">
                    
                    <h1 class="font-weight-bold mb-3">Orden de pedido</h1>
                    
                    <p class="text-muted mb-5">Ingrese la orden de pedido.</p>

                    <form>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-3">
                                <label class="font-weight-bold">Nº pedido <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Ingrese el pedido">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Producto <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Tipo de producto">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Proveedor <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Ingrese el Proveedor">
                            </div>
                       
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Cantidad  <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Ingrese cantidad de productos">
                            </div>
                      
                        <button class="btn btn-primary width-100">Registrar</button>
                    </form>
                    <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2021 Los Pixies</small>
                </div>
           </div>
       </div>
   </section>

  
  </body>
</html>

{% endblock %}