{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>

<html lang="es" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title> </title>
        <link rel="stylesheet" href= "{% static 'core/css/formularios.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Datatable-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    </head>
    <body>
        <div class="container">
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Nuevo
                </button>
                <a style="float: right;" type="button" class="btn btn-primary" href="{% url 'registrofamilias' %}">
                    lista de familias
                </a>
            </div>
            <br>
            <table id="datatable" class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nombre producto</th>
                        <th>Fecha de vencimiento</th>
                        <th>Descripcion</th>
                        <th>id_familia</th>
                        <th>Codigo de producto</th>
                        <th>Stock</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <th>{{p.0}}</th>
                        <th>{{p.1}}</th>
                        <th>{{p.2}}</th>
                        <th>{{p.3}}</th>
                        <th>{{p.4}}</th>
                        <th>{{p.5}}</th>
                        <th>{{p.6}}</th>
                        <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificar{{p.0}}">Modificar</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{p.0}}">Eliminar</button></th>
                    </tr>
                    <!--Modal para editar productos-->
                    <div class="modal fade" id="modificar{{p.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="container">
                                <main>
                                <iframe width="420" height="225" src="{% url 'editarProductos' p.0 %}" ></iframe>
                                </main>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!--Modal para eliminar productos-->
                    <div class="modal fade" id="eliminar{{p.0}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div class="container">
                                <main>
                                <iframe width="420" height="225" src="{% url 'eliminarProductos' p.0 %}" ></iframe>
                                </main>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
                <!--Modal para agregar productos-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <div class="container">
                            <main>
                            <iframe width="420" height="225" src="{% url 'crearProductos' %}" ></iframe>
                            </main>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </table>
        </div>
    </body>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#datatable').DataTable();
            } );
    </script>
</html>
{% endblock %}