{% extends 'core/base.html' %}

{% block scripts %}
<script>
    

</script>
{% endblock %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href= "{% static 'core/css/formularios.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  </head>
<body>
  <div class="container">
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearComida">
        Nuevo
      </button>
  </div>   
    <br>
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre del plato</th>
          <th>Precio</th>
          <th>Tipo de plato</th>
          <th>Opciones</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for c in comedor %}
        <tr>
          <th>{{c.0}}</th>
          <th>{{c.1}}</th>
          <th>{{c.2}}</th>
          <th>{{c.3}}</th>
          <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificar{{c.0}}">Modificar</button></th>
          <th><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{c.0}}">Eliminar</button></th>
          <!--Modal para modificar comedor-->
          <div class="modal fade" id="modificar{{c.0}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <main>
                      <iframe width="420" height="225" src="{% url 'editarComedor' c.0 %}" ></iframe>
                    </main>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Modal para eliminar comedor-->
          <div class="modal fade" id="eliminar{{c.0}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <main>
                      <iframe width="420" height="225" src="{% url 'eliminarComedor' c.0 %}" ></iframe>
                    </main>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!--Modal para agregar comidas-->
  <div class="modal fade" id="crearComida" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <main>
              <main>
                <iframe width="420" height="225" src="{% url 'crearComedor' %}" ></iframe>
              </main>
            </div>
          </div>
        </div>
  </div>
  </body>
  <script type="text/javascript">
    $(document).ready( function () {
      $('#datatable').DataTable(
        {
        search: "Buscar:",

        buttons:{
          editButton:'<input type="button" value="Editar" class="btn btn-primary">',
          deleteButton:'<input type="button" value="Eliminar" class="btn btn-danger" >',
        },
        ShowActionColumn: true,
    }
      );
    } );
  </script>
</html>

    
  

{% endblock %}