{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" href= "{% static 'core/css/formularios.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  </head>
<body>
  <div class="container">
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearHuesped">
        Nuevo
      </button>
      <a style="float: right;" type="button" class="btn btn-primary" href="{% url 'listarfacturas' %}">
        Listar Facturas
      </a>
  </div>   
    <br>
    <table id="datatable" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre Empresa</th>
          <th>Usuario registrado</th>
          <th>N°de habitacion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for h in huespedes %}
        <tr>
          <th>{{h.0}}</th>
          <th>{{h.11}}</th>
          <th>{{h.18}}</th>
          <th>{{h.3}}</th>
          <th><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificar{{h.0}}">Modificar</button>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar{{h.0}}">Eliminar</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#factura{{h.0}}">Crear Factura</button></th>
          <!--Modal para modificar habitaciones-->
          <div class="modal fade" id="modificar{{h.0}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <main>
                        <iframe width="420" height="225" src="{% url 'editarHuesped' h.0 %}" ></iframe>
                      </main>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Modal para eliminar habitaciones-->
            <div class="modal fade" id="eliminar{{h.0}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <main>
                        <iframe width="420" height="225" src="{% url 'eliminarHuesped' h.0 %}" ></iframe>
                      </main>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Modal para crear facturas-->
            <div class="modal fade" id="factura{{h.0}}" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <main>
                        <iframe width="420" height="225" src="{% url 'crearFactura' h.0 %}" ></iframe>
                      </main>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        {% endfor %}
      </tbody>
      <div class="modal fade" id="crearHuesped" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" onclick="location.reload(true)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <main>
                  <main>
                    <iframe width="420" height="225" src="{% url 'crearHuesped' %}" ></iframe>
                  </main>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </table>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#datatable').DataTable();
  } );
</script>
</html>


{% endblock %}