@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}



body{

  background-image: url("../img/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 

  .button{
   margin: 20px 27px;
   height: 100%;
   width: 40%;
   border-radius: 30px;
   border: none;
   color: #fff;
   font-size: 19px;
   font-weight: 600;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #08d9d6, #ff2e63);
 }
 .button :hover{
  
  background: linear-gradient(-135deg, #08d9d6, #ff2e63);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}


 
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  background-color: #f8f9fa;
  padding: 50px 30px 200px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  margin-top: 100px;
}