{% load static %}

{% block contenido %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'core/css/modales.css' %}">
<form method="POST" > 
    {% csrf_token %}
    <div class="user-details">
        <div class="input-box">
            <span class="details">Nombre del producto</span>
            <input type="text" name="nombre_producto" placeholder="Ingresa el nombre" required>
        </div>
        <div class="input-box">
            <span class="details">Fecha de vencimiento</span>
            <input type="date" name="fecha_vencimiento" placeholder="fecha de vencimiento" required>
        </div>
        <div class="input-box">
            <span class="details">Descripcion</span>
            <input type="text" name="descripcion" placeholder="Ingresa la descripcion para el producto" required>
        </div>
        <div class="input-box">
            <span class="details">Cantidad de productos</span>
            <input type="text" name="stocks" placeholder="Ingresa la cantidad" required>
        </div>
        <div class="input-box" type="hidden">
            <input type="hidden" name="id_usuario" value="{{user.id}}" required>
        </div>
        <div class="input-box">
            <span class="details">Familia del producto</span>
            <p><p>
            <select name="id_familia" style="height: 26px;">
                    <option value="">Seleccionar</option>
                    {% for p in familia %}
                    <option value="{{p.0}}">{{p.1}}</option>
                    {% endfor %}
            </select>
        </div>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Guardar">
    </div>
    </form>
    {% if mensaje == 'registrado correctamente' %}
    <img src="/static/core/img/check-png.png" height="20" alt="">{{mensaje}}
    {% else %}
    <img src="/static/core/img/check-error.png" height="20" alt="">{{mensaje}}
    {% endif %}
</div>

{% endblock %}