{% extends 'core/base.html' %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
                <div class="card-body">
                <h1>Agregar usuario</h1>
                <form action="" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{form | crispy}}

                    <br>
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Cancelar" id="btnCancelar" class="btn btn-secondary">
                            &nbsp;
                            <button type="submit" id="btnGuardar" class="btn btn-primary">Guardar</button>
                    
                        </div>


                </form>
                {{mensaje}}
            </div>
        </div>

    </div>
</div>

{% endblock %}