
{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <strong class="card-title"> Registro de usarios</strong>

    </div>
    <div class="table-stats order-table ov-h">
        <form action="POST">
            {% csrf_token %}
            {{form.as_ap}}
        </form> 


    </div>
    


</div>
{% endblock %}